:root {
	--white: #ffffff;
	--grey: #1a1a1a;
	--accent: #4b00bf;
	--active: #7d43ea;
	--hover: #4d4d4d;
	--font: trebuchet ms;
	--transition: 0.5s;
	--short_transition: 0.3s;
}

body {
	font-family: var(--font);
}

.sidebar {
	height: 100%;
	width: 50px;
	transition: var(--transition);
	background-color: var(--grey);
	top: 0;
	left: 0;
	overflow-x: hidden;
	position: absolute; 
	z-index: 1;
} 

.sidebar.expanded {
	width: 210px;
}

.sidebar a {
  padding: 20px 8px 20px 8px;
  text-decoration: none;
  font-size: 25px;
  color: var(--white);
  display: block;
  overflow: hidden;
  transition: var(--short_transition);
  margin-right: -200px;
}

a:hover {
	background-color: var(--hover);
}

.pageContent {
	width:70%;
	height: 100%;
	margin-left: 15%;
	margin-top: 30px;
	transition: var(--transition);
	text-align: center;
}

.pageContent.expanded {
	margin-left: 210px;
}

.sideText {
	width: 200px;
	font-size: 25px;
	font-family: var(--font);
	transition: var(--transition);
}

.sideToggleButton {
	left: 0;	
	top: 0;
	font-size: 25px;
	padding: 8px 8px 8px 16px;
}

.sideToggleButton:hover {
	background-color: var(--hover);
}

.line{
	margin-left: 5px;
	width: 40px;
	height: 1px;
	background-color: var(--white);
	border-width: 0;
	transition: var(--transition);
}

.line.expanded {
	width: 200px;
}

.title {
	font-size: 25pt;
	margin-bottom: 0;
}

#upload_button {
	height: 45px;
	width: 150px;
	background-color: var(--accent);
	color: var(--white);
	border-radius: 5px;
	border: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	outline: none;
	cursor: pointer;
}

#upload_button:active {
	background-color: var(--active);
}

#file_chosen {
	max-width: 250px;
	font-size: 10pt;
	color: gray;
}

#toggle {
	padding: 15px 8px 4px 8px;
	color: var(--white);
	cursor: pointer;
}

#selected { 
	background-color: var(--accent);
}

#upload_icon {
	margin-right: 5px;
}

input#file_input {
	display: none;
}

button#submit_file {
	display: none;
}

.toolbar { 
	top:0;
	left:0;
	text-align: left;
	margin-left: 50px ;
	transition: var(--transition);
	height: 0px;
	background-color: var(--grey);
	width: 100%;
	position: fixed;
	z-index: 1;
	overflow: hidden;
}

.toolbar.expanded {
	margin-left: 210px ;
}

#tooltoggle { 
	display: inline-block;
	top:0;
	right:0;
	position: fixed;
	width: 50px;
	height: 50px;
	font-size: 36px;
	background-color: var(--grey);
	transition: var(--transition);
	z-index: 10;
}

#tooltoggle:hover {
	background-color: var(--hover);
}

#tooltoggle.toolsActive {
	background-color: var(--accent);
}

.toolbar.toolsActive {
	height: 100px;
	transition: var(--transition);
}