body {
	font-family: bahnschrift;
}

.sidebar {
	height: 100%;
	width: 50px;
	transition: 0.5s;
	background-color: #1a1a1a;
	top: 0;
	left: 0;
	overflow-x: hidden;
	position: absolute; 
	z-index: 1;
} 

.sidebar.expanded {
	width: 210px;
}

.sidebar a {
  padding: 20px 8px 20px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  overflow: hidden;
  transition: 0.3s;
  margin-right: -200px;
}

a:hover {
	background-color: #4d4d4d;
}

.pageContent {
	width:100%;
	height: 100%;
	margin-left: 50px;
	transition: 0.5s;
}

.pageContent.expanded {
	margin-left: 210px;
}

.sideText {
	width: 200px;
	font-size: 25px;
	font-family: bahnschrift;
	transition: 0.5s;
}

.sideToggleButton {
	left: 0;	
	top: 0;
	font-size: 25px;
	padding: 8px 8px 8px 16px;
	color: gray;
}

.sideToggleButton:hover {
	background-color: #4d4d4d;
}

.line{
	margin-left: 5px;
	width: 40px;
	height: 1px;
	background-color: #ffffff;
	border-width: 0;
	transition: 0.5s;
}

.line.expanded {
	width: 200px;
}

#toggle {
	padding: 15px 8px 4px 8px;
	color: #ffffff;
}

#toggle:hover {
	cursor: pointer;
}

#selected { 
	background-color: #4b00bf;
}